
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    .box {background-color: #efbede ;
        

    }

.box1 { position: fixed; 
    background-color: #eca2a4 ;  
    justify-content: center;
    color: rgb(41, 8, 193);
    border-radius: 15px;
    font-size:130%;
    padding: 0rem 0;
    margin: 15% 10% 0% 5%; 
    max-width: 1200px;
}
.box2 {
    
    color: rgb(181, 7, 53);
    font-size:250%;
}
@media (max-width: 300px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 301px) and (max-width: 900px) {
        .cards-container {
            gap: 0.5rem;
        }}}